add_newline = false

format = """
$username\
$hostname\
$shlvl\
$kubernetes\
$directory\
$git_branch\
$git_commit\
$git_state\
$git_status\
$env_var\
$custom\
$line_break\
$jobs\
$status\
$character"""

[line_break]
disabled = true

[character]
success_symbol = "\\$"
error_symbol = "\\$"

[cmd_duration]
disabled = true

[kubernetes]
disabled = false
format = '[$context( \($namespace\))]($style) '
style = "bold green"

[directory]
read_only = ""
style = "bold #b3a1e6"

[git_branch]
symbol = "ï˜ "
format = "[$symbol$branch]($style) "
style = "bold yellow"

[git_status]
style = "bold yellow"

