add_newline = false

format = """
$username\
$hostname\
$shlvl\
$kubernetes\
$directory\
$git_branch\
$git_commit\
$git_state\
$git_status\
$env_var\
$custom\
$line_break\
$jobs\
$status\
$character"""

[line_break]
disabled = true

[character]
success_symbol = "\\$"
error_symbol = "[\\$](bold red)"

[cmd_duration]
disabled = true

[kubernetes]
disabled = false
format = '[$context( \($namespace\))]($style) '
style = "bold green"

[directory]
read_only = ""

[git_branch]
symbol = "ï˜ "
format = "[$symbol$branch]($style) "

[git_status]
style = "bold purple"

